@font-face {
  font-family: 'icons';
  src: url('../../fonts/icons.eot?20993520');
  src: url('../../fonts/icons.eot?20993520#iefix') format('embedded-opentype'), url('../../fonts/icons.woff?20993520') format('woff'), url('../../fonts/icons.ttf?20993520') format('truetype'), url('../../fonts/icons.svg?20993520#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face{
    font-family: 'icons';
    src: url('../../fonts/icons.svg?20993520#icons') format('svg');
  }
}

$icons-font-size-social: 34px;
$icons-margin-social: .3em;


[class*=' icon-']::before,
[class^='icon-']::before {
  display: inline-block;
  font-family: 'icons';
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  margin-right: .2em;
  speak: none;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  width: 1em;
}


.icon-burger::before {
  content: '\e900';
  font-size: v-rithm(1);
  margin-right: v-rithm(.5);
}

.icon-salad::before {
  content: '\e901';
  font-size: v-rithm(1);
  margin-right: v-rithm(.5);
}

.icon-beer::before {
  content: '\e902';
  font-size: v-rithm(1);
  margin-right: v-rithm(.5);
}

.icon-drinks::before {
  content: '\e903';
  font-size: v-rithm(1);
  margin-right: v-rithm(.5);
}

.icon-dessert::before {
  content: '\e904';
  font-size: v-rithm(1);
  margin-right: v-rithm(.5);
}

.icon-navigation-arrow::before {
  content: '\e905';
  font-size: $icons-font-size-social;
  margin-right: $icons-margin-social;
}

.icon-social-vk::before {
  content: '\e906';
  font-size: $icons-font-size-social;
  margin-right: $icons-margin-social;
}

.icon-social-instagram::before {
  content: '\e907';
  font-size: $icons-font-size-social;
  margin-right: $icons-margin-social;
}

.icon-social-fb::before {
  content: '\e908';
  font-size: $icons-font-size-social;
  margin-right: $icons-margin-social;
}

.icon-view-grid::before {
  content: '\e909';
  font-size: $font-size-base * 1.285714285714286;
  margin-right: 0;
}

.icon-view-full-card::before {
  content: '\e90a';
  font-size: $font-size-base * 1.285714285714286;
  margin-right: 0;
}

.icon-mouse::before {
  content: '\e90b';
  font-size: 36px;
  margin-right: 0;
}

.icon-arrow-divided-right-before::before {
  color: $color-beige-24;
  content: '\e90c';
  font-size: $font-size-base * .523809523809524;
  text-align: left;
  width: 74px;
}

.icon-arrow-divided-right-after::before {
  color: $color-beige-24;
  content: '\e90d';
  font-size: $font-size-base * .523809523809524;
  text-align: left;
  width: 74px;
}

.icon-arrow-left::before {
  color: $color-beige-24;
  content: '\e90e';
  font-size: $font-size-base * .523809523809524;
  margin-right: 0;
  width: 212px;
}

.icon-arrow-right::before {
  color: $color-beige-24;
  content: '\e90e';
  font-size: $font-size-base * .523809523809524;
  transform: scale(-1, 1);
  margin-right: 0;
  width: 212px;
}

.icon-arrow-simple-up::before {
  content: '\e90f';
  margin-right: 0;
  font-size: v-rithm(1);
}

.icon-arrow-simple-down::before {
  content: '\e910';
  margin-right: 0;
  font-size: v-rithm(1);
}

.icon-arrow-divided-right-before-l::before {
  color: $color-beige-24;
  content: '\e911';
  font-size: $font-size-base * .523809523809524;
  width: 127px;
}

.icon-arrow-divided-right-after-l::before {
  color: $color-beige-24;
  content: '\e912';
  font-size: $font-size-base * .523809523809524;
  width: 127px;
}

.icon-arrow-divided-right-before-rtl-l::before {
  color: $color-beige-24;
  content: '\e911';
  font-size: $font-size-base * .523809523809524;
  transform: scale(-1, 1);
  width: 127px;
}

.icon-arrow-divided-right-after-rtl-l::before {
  color: $color-beige-24;
  content: '\e912';
  font-size: $font-size-base * .523809523809524;
  transform: scale(-1, 1);
  width: 127px;
}
