@use "../abstracts/mixins";
@use "../abstracts/variables";
@use "../components/dividers";

//
// Typography
// --------------------------------------------------
// Global font size and line height
// -------------------------

html {
  color: variables.$text-color;
  font-family: variables.$body-font-family;
  font-size: variables.$font-size-base;
  font-weight: variables.$body-font-weight;
  line-height: variables.$line-height-base;
}
// Headings
// -------------------------

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: variables.$headings-color;
  font-family: variables.$headings-font-family;
  font-weight: variables.$headings-font-weight;
}

.h1,
h1 {
  @include mixins.type-setting(3);
  margin-bottom: mixins.v-rithm(1);
  margin-top: mixins.v-rithm(1);
}

.h2,
h2 {
  @include mixins.type-setting(2);
  margin-bottom: mixins.v-rithm(1);
  margin-top: mixins.v-rithm(1);
}

.h3,
h3 {
  @include mixins.type-setting(1);
  margin-bottom: mixins.v-rithm(1 * 0.5);
  margin-top: mixins.v-rithm(1 * 0.5);
}

.h4,
h4 {
  @include mixins.type-setting(0);
  margin-bottom: mixins.v-rithm(1 * 0.5);
  margin-top: mixins.v-rithm(1 * 0.5);
}
// Body text
// -------------------------

p {
  margin: 0 0 mixins.v-rithm(1 * 0.5);
}

hr {
  @extend %divider-line;
  border: 0;
  margin: 0;
}

.caption {
  font-size: variables.$font-size-very-small;
  margin: 0 0 mixins.v-rithm(1 * 0.5);
}

.label {
  font-family: variables.$font-family-secondary;
  font-size: variables.$font-size-small;
  font-stretch: normal;
  font-style: normal;
  font-weight: variables.$font-weight-bold;
  letter-spacing: 2.3px;
  line-height: variables.$line-height-base;

  &.accent {
    color: variables.$color-golden;
  }
}

%accent-text {
  color: variables.$color-beige;
  font-family: variables.$font-family-accent;
  font-size: mixins.type-scale(1);
  font-stretch: normal;
  font-style: normal;
  font-weight: variables.$font-weight-medium;
  letter-spacing: .3px;
}
