//
// Typography
// --------------------------------------------------
// Global font size and line height
// -------------------------

html {
  color: $text-color;
  font-family: $body-font-family;
  font-size: $font-size-base;
  font-weight: $body-font-weight;
  line-height: $line-height-base;
}
// Headings
// -------------------------

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $headings-color;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
}

.h1,
h1 {
  @include type-setting(3);
  margin-bottom: v-rithm(1);
  margin-top: v-rithm(1);
}

.h2,
h2 {
  @include type-setting(2);
  margin-bottom: v-rithm(1);
  margin-top: v-rithm(1);
}

.h3,
h3 {
  @include type-setting(1);
  margin-bottom: v-rithm(1 / 2);
  margin-top: v-rithm(1 / 2);
}

.h4,
h4 {
  @include type-setting(0);
  margin-bottom: v-rithm(1 / 2);
  margin-top: v-rithm(1 / 2);
}
// Body text
// -------------------------

p {
  margin: 0 0 v-rithm(1 / 2);
}

hr {
  @extend %divider-line;
  border: 0;
  margin: 0;
}

.caption {
  font-size: $font-size-very-small;
  margin: 0 0 v-rithm(1 / 2);
}

.label {
  font-family: $font-family-secondary;
  font-size: $font-size-small;
  font-stretch: normal;
  font-style: normal;
  font-weight: $font-weight-bold;
  letter-spacing: 2.3px;
  line-height: $line-height-base;

  &.accent {
    color: $color-golden;
  }
}

%accent-text {
  color: $color-beige;
  font-family: $font-family-accent;
  font-size: type-scale(1);
  font-stretch: normal;
  font-style: normal;
  font-weight: $font-weight-medium;
  letter-spacing: .3px;
}
