%button {
  display: inline-block;
  font-family: $body-font-family;
  font-size: $font-size-base;
  font-weight: $body-font-weight;
  transition: all  $animation-default-function;
}

.scotch-button {
  @extend %button;
  @include scotch-button-theme($button-color);
  border-radius: $button-border-radius;
  padding: round(v-rithm(1 / 3) + 2px) v-rithm(1) round(v-rithm(1 / 3) + 1px);

  &.ghost {
    border: 1px solid $button-color;

    &:hover {
      background-color: $button-color;
    }

    &.disable {
      opacity: .34;
      cursor: default;

      @include hocus {
        color: $button-color;
        background-color: transparent;
      }
    }
  }
}

.neutral-button {
  @extend %button;
  @include scotch-button-theme($color-beige-54);
  border: 0;

  @include hocus {
    background: none;
    border: 0;
    color: $color-beige;
  }
}
