@use "../abstracts/mixins";
@use "../abstracts/variables";

%link {
  display: inline-block;
}

.scotch-link {
  @extend %link;
  @include mixins.scotch-link-theme(variables.$link-color);
  transition: all variables.$animation-default-function;

  &.neutral {
    @include mixins.scotch-link-theme(variables.$link-color-neutral);

    &:hover {
      color: variables.$link-color-neutral-hover;
    }
  }
}
