%link {
  display: inline-block;
}

.scotch-link {
  @extend %link;
  @include scotch-link-theme($link-color);
  transition: all $animation-default-function;

  &.neutral {
    @include scotch-link-theme($link-color-neutral);

    &:hover {
      color: $link-color-neutral-hover;
    }
  }
}
