.main-screen {
  background-image: url('../../img/background-main-screen@2x.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

  .content {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
    padding-top: 0;
    z-index: z(after);
  }
}

.shtefan-cover {
  border: solid 1px $color-golden;
  border-radius: $border-radius-default;
  position: relative;

  .inner-border {
    border: solid 1px $color-golden;
    border-radius: $border-radius-default / 2;
    bottom: 0;
    height: 98%;
    left: 1%;
    opacity: .34;
    position: absolute;
    right: 0;
    top: 1%;
    width: 98%;
    z-index: z(below);
  }
}

.cover-inner {
  margin: v-rithm(2) v-rithm(3);
  text-align: center;
  width: 300px;

  header {
    align-items: center;
    display: flex;
    justify-content: space-between;

    .since {
      @extend .label;
      border-bottom: solid 1px $color-beige-24;
      border-top: solid 1px $color-beige-24;
      line-height: $line-height-base - 2;
      width: 89px;
    }
  }

  h1 {
    margin-bottom: v-rithm(1);
    margin-top: v-rithm(1 / 2);
  }

  p {
    border-bottom: solid 1px $color-beige-24;
    border-top: solid 1px $color-beige-24;
    margin-bottom: v-rithm(1);
    padding: v-rithm(1 / 2) 0;
  }
}

.main-screen-contacts {
  display: flex;

  section {
    background-color: transparent;
    border-radius: $border-radius-default;
    padding: v-rithm(1);
    transition: all $animation-default-function;
    width: 280px;

    @include hocus {
      background-color: $color-hunter-green-67;
    };

  }

  .num {
    display: flex;
    justify-content: space-between;
    text-align: center;

    span {
      text-align: left;
      width: 74px;
    }

    div {
      @extend %accent-text;
      color: $color-golden;
    }
  }

  .address {
    margin-bottom: v-rithm(1 / 2);
    text-align: center;

    .h1 {
      margin-bottom: 0;
      margin-top: v-rithm(1 / 2);
    }
  }

  .street {
    border-bottom: solid 1px $color-beige-24;
    border-top: solid 1px $color-beige-24;
    margin-bottom: v-rithm(1 / 2);
    padding: v-rithm(1 / 2) 0;
    text-align: center;


    div {
      @extend %accent-text;
      transform: rotate(-6deg);
    }
  }

  .work-hours,
  .phone {
    padding: 0 round(v-rithm(1 / 3));
  }
}
