.ui-menu {
  left: 0;
  margin: v-rithm(2) 0 v-rithm(1);
  position: fixed;
  top: 0;
  transition: all $animation-default-function;
  width: 100vw;
  z-index: z(ui-elem);

  nav {

    ul {
      display: flex;
      justify-content: center;
    }

    li {
      a {
        line-height: 1;
        padding: v-rithm(1 / 2) (v-rithm(1) + 10px);

        &.active {
          color: $color-golden;
        }
      }
    }
  }

  &.hide {
    visibility: hidden;
  }
}
