@use "../abstracts/mixins";
@use "../abstracts/variables";

.ui-menu {
  left: 0;
  margin: mixins.v-rithm(2) 0 mixins.v-rithm(1);
  position: fixed;
  top: 0;
  transition: all variables.$animation-default-function;
  width: 100vw;
  z-index: mixins.z(ui-elem);

  nav {

    ul {
      display: flex;
      justify-content: center;
    }

    li {
      a {
        line-height: 1;
        padding: mixins.v-rithm(1 * 0.5) (mixins.v-rithm(1) + 10px);

        &.active {
          color: variables.$color-golden;
        }
      }
    }
  }

  &.hide {
    visibility: hidden;
  }
}
