@use "../abstracts/mixins";
@use "../abstracts/variables";

.ui-mobile-header {
  display: contents;
}

.ui-mobile-logo {
  display: none;
}

.ui-social {
  background-color: transparent;
  bottom: 0;
  left: 0;
  margin: (mixins.v-rithm(1.5) + 9px) mixins.v-rithm(1.5);
  padding: 7px 26px 0;
  position: fixed;
  transition: all variables.$animation-default-function;
  z-index: mixins.z(ui-elem);

  a {
    line-height: 1;
    text-align: center;
  }

  &.on-backround {
    background-color: variables.$color-hunter-green-67;
    border-radius: 24px;
  }

  :last-child {
    span::before {
      margin-right: 0;
    }
  }
}

.ui-mouse-scroll {
  animation-delay: 1s;
  animation-duration: 2.2s;
  animation-iteration-count: infinite;
  animation-name: scroll;
  animation-timing-function: cubic-bezier(.15, .41, .69, .94);
  bottom: 0;
  color: variables.$color-beige-54;
  left: 50%;
  margin: mixins.v-rithm(1) 0 (mixins.v-rithm(1.5) + 9px) -18px;
  position: absolute;
  z-index: mixins.z(ui-elem);

  @keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
  }
}

.ui-menu-button {
  appearance: none;
  background: transparent;
  border: 0;
  color: variables.$color-beige-54;
  cursor: pointer;
  padding: (mixins.v-rithm(2.5) - 5) mixins.v-rithm(2.5);
  position: absolute;
  right: 0;
  top: 0;
  z-index: mixins.z(ui-elem);

  .nav-toggle-line {
    display: block;
  }

  .nav-toggle-line {
    background-color: variables.$color-beige;
    height: 2px;
    transition: all variables.$animation-default-function;
    width: 38px;


    &:first-child {
      transform: translate(0, -5px) rotate(0deg);
    }

    &:last-child {
      transform: translate(0, 5px) rotate(0deg);
    }
  }

  @include mixins.hocus {
    .nav-toggle-line {

      &:first-child {
        transform: translate(0, -8px) rotate(0deg);
      }

      &:last-child {
        transform: translate(0, 8px) rotate(0deg);
      }
    }
  }
}

.ui-career-link {
  bottom: 0;
  position: absolute;
  right: 0;
  padding: mixins.v-rithm(2) mixins.v-rithm(2.5);


}

.ui-side-points {
  display: flex;
  height: 510px;
  margin: 0 mixins.v-rithm(2.5);
  position: fixed;
  right: 0;
  top: calc(50% - 255px);
  transition: all variables.$animation-default-function;
  z-index: mixins.z(ui-elem);

  .side-points-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .line {
    margin: mixins.v-rithm(1) 0;
  }

  a {
    padding: 0 mixins.v-rithm(1 * 0.5);
    position: relative;
    width: 20px;

    &::after {
      background-color: variables.$color-beige-54;
      bottom: 41%;
      content: '';
      display: block;
      height: 1px;
      position: absolute;
      right: 0;
      transform: scaleX(.524) translate3d(-50%, 0, 0);
      transform-origin: 50% 0;
      transition: transform .5s;
      width: 100%;
    }

    &:hover:after {
      background-color: variables.$color-beige;
      transform: scaleX(1) translate3d(-50%, 0, 0);

    }

    &.active {
      &::after {
        background-color: variables.$color-golden;
        height: 2px;
        transform: scaleX(1) translate3d(-50%, 0, 0);
      }
    }
  }

  &.hide {
    visibility: hidden;
  }
}
