//
// Variables
// --------------------------------------------------


//== Debug
$debug: false !default;

//== Colors
//
//## Brand colors for use across project.
$color-black:                          hsl(0, 0%, 0%) !default;
$color-hunter-green:                   hsl(145, 63%, 5%) !default;
$color-pine-green:                     hsl(143, 65%, 8%) !default;
$color-golden:                         hsl(45, 97%, 48%) !default;
$color-golden-87:                      transparentize($color-golden, .13) !default;
$color-pumpkin-orange:                 hsl(34, 97%, 48%) !default;
$color-beige:                          hsl(50, 64%, 81%) !default;
$color-beige-87:                       transparentize($color-beige, .13) !default;
$color-beige-54:                       transparentize($color-beige, .46) !default;
$color-beige-24:                       transparentize($color-beige, .76) !default;
$color-hunter-green-67:                transparentize($color-hunter-green, .33) !default;
$color-error:                          rgba(233,30,99,1) !default; //создать переменную цвета
$color-success:                        rgba(139,195,74,1) !default; //создать переменную цвета

//==Animation basics
//
$animation-default-function:             .3s ease-in-out;


//== Scaffolding
//
//## Settings for some of the most global styles.
//** Background color for `<body>`.
$background-color:                     $color-hunter-green !default;
//** Alternative block color.
$background-color-accent:              $color-pine-green !default;

//** Global text color on `<body>`.
$text-color:                           $color-beige-87 !default;

//** Global box-shadow variables
$shadow-color:                         transparentize($color-black, .66) !default;
$shadow-default:                       0 4px 20px 0 $shadow-color !default;


//** Global textual link color.
$link-color:                           $text-color  !default;
$link-color-hover:                     $color-beige-54 !default;
$link-color-active:                    $color-golden !default;
$link-color-neutral:                   $color-beige-54 !default;
$link-color-neutral-hover:             $text-color  !default;

//** Global button color.
$button-color:                         $color-golden !default;
$button-color-text-hover:              $color-hunter-green !default;
$button-gradient-bg:                   linear-gradient(to right, $color-golden, $color-pumpkin-orange) !default;
$button-border-radius:                 50px !default;

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-base:                     'FuturaNewBook' !default;
$font-family-secondary:                'Lazurski' !default;
$font-family-accent:                   'Klementina' !default;

$font-weight-base:                      200;
$font-weight-medium:                    400;
$font-weight-bold:                      800;

$font-size-base:                        21px !default;
$font-scale-ratio:                      1.5 !default;
$font-size-large:                       type-scale(3) !default;
$font-size-medium:                      type-scale(1) !default;
$font-size-small:                       $font-size-base * .761904761904762 !default;
$font-size-very-small:                  $font-size-base * .666666666666667 !default;

//** Line heights
$line-height-base:                      $font-size-base * 1.619047619047619 !default; // ~34px

$line-heights: (
                                        0: $line-height-base,
                                        1: $line-height-base * 1.5,
                                        2: $line-height-base * 2,
                                        3: $line-height-base * 2.5
) !default;

//** Headings
$headings-font-family:                  $font-family-secondary !default;
$headings-font-weight:                  800 !default;
$headings-color:                        $color-beige !default;

//** Body text
$body-font-family:                      $font-family-base !default;
$body-font-weight:                      200 !default;
$body-color:                            inherit !default;
$caption-font-size:                     $font-size-very-small !default;

//-- Z-index master list
//

$z-indexes: (
                                        'modal':     5000,
                                        'dropdown':  4000,
                                        'menu':      3000,
                                        'ui-elem':   10,
                                        'after':     2,
                                        'default':   1,
                                        'below':    -1,
) !default;

//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

$breakpoints: (
                                        'very-large': (max-width: 1024px),
                                        'large':      (max-width: 768px),
                                        'medium':     (max-width: 568px),
                                        'small':      (max-width: 480px),
                                        'very-small': (max-width: 320px),
) !default;

//==Layout basic
//
//##

// Page wrap width
$layout-default-width:                   100% !default;
$layout-default-height:                  100% !default;

// Layout wraper padding's
$layout-padding-default:                 v-rithm(2) !default;
$layout-padding-mobile:                  v-rithm(1) !default;

// Content max-width
$layout-content-padding:                 $layout-padding-default;
$layout-content-max-width-full:          1442px !default;
$layout-content-max-width-default:       1264px !default;

// Basics of a navbar
$navbar-width:                           800px;
$navbar-height:                          120px !default;
$navbar-menu-height:                     $line-height-base * 2 !default;
$navbar-default-color:                   #000 !default;
$navbar-default-bg:                      #fff !default;
$navbar-logo-height:                     40px !default;
$navbar-logo-height-small:               32px !default;


$navbar-menu-full-height:                510px !default;


// Block settings
$border-radius-default:                  10px !default;
$border-radius-round:                    20px !default;


//** Forms
//**

$input-font-size:                        $font-size-base;

// Default `.form-control` border radius
// This has no effect on `<select>`s in some browsers, due to the limited stylability of `<select>`s in CSS.
$input-border-radius-base:               3px !default;
// Large `.form-control` border radius
$input-border-radius-large:              6px !default;
// Small `.form-control` border radius
$input-border-radius-small:              1px !default;

// Border color for inputs on focus
$input-border-focus:                     #66afe9 !default;


// Text Inputs + Textarea
$input-height: 32px !default;
$input-border-color: $color-beige-54 !default;
$input-border: 1px solid $input-border-color !default;
$input-background: #fff !default;
$input-error-color: $color-error !default;
$input-success-color: $color-success !default;
$input-focus-color: $color-golden !default;
$input-font-size: $font-size-base !default;
$input-margin-bottom: 20px;
$input-margin: 0 0 $input-margin-bottom 0 !default;
$input-padding: 0 !default;
$input-transition: all $animation-default-function !default;
$label-font-size: $font-size-very-small !default;
$input-disabled-color: rgba(0,0,0, .26) !default;
$input-disabled-solid-color: #BDBDBD !default;
$input-disabled-border: 1px dotted $input-disabled-color !default;
$input-invalid-border: 1px solid $input-error-color !default;
$placeholder-text-color: lighten($input-border-color, 20%) !default;

// Radio Buttons
$radio-fill-color: $color-golden !default;
$radio-empty-color: #5a5a5a !default;
$radio-border: 2px solid $radio-fill-color !default;

// Range
$range-height: 14px !default;
$range-width: 14px !default;
$track-height: 3px !default;

// Select
$select-border: 1px solid #f2f2f2 !default;
$select-background: $color-hunter-green;
$select-focus: 1px solid lighten($color-golden, 47%) !default;
$select-padding: 5px !default;
$select-radius: 2px !default;
$select-disabled-color: rgba(0,0,0,.3) !default;

// Dropdown
// ==========================================================================

$dropdown-bg-color: $color-hunter-green !default;
$dropdown-hover-bg-color: $color-pine-green !default;
$dropdown-color: $color-hunter-green-67 !default;
$dropdown-item-height: 50px !default;
